# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Output folders
build/
dist/
*.egg-info/

# Python egg and wheel files
*.egg
*.whl

# Coverage reports
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Pipenv / Poetry
Pipfile.lock
poetry.lock

